.header h2 {
  text-align: center;
  color: purple;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font: 'Open Sans';
}


/* styling div element course-goals in App.js */

