.container {
  margin: 0 auto;
  padding: 0px 40px 40px 40px;
  width: 400px;
  background: #419be0;
  }

img {
  background: #5f9ea0;
  color: #fff;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}

h2 {
  margin-top: 10;
  text-align: center;
  color: #fff;
}




